<!-- <app-navbar></app-navbar> -->

<div class="forn-group col-md-4">
    <select class="form-control" [(ngModel)]="selectedChoice" (change)="onChangeRooms()">
        <option value="all" selected="true">All</option>
        <option value="available">Available</option>
        <option value="reserved">Reserved</option>
        <option value="hasProjector">has projector</option>
    </select>
</div>

<br />
<div class="row">
    <div *ngFor="let room of rooms;">
        <div class="col-sm-4" style="margin-bottom: 10px;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5 class="card-title">{{ room.name }}</h5>
                        </div>
                        <div class="col-sm-4">
                            <img *ngIf="room.hasProjector" src="../../assets/static/images/projector_icon.png"
                                width="60%" height="60%" />
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">{{ room.department }}</h6>
                    <h6 class="card-subtitle mb-2 text-success" *ngIf="room.isReserved"><b>( Reservee )</b></h6>
                    <a *ngIf="!room.isReserved" [routerLink]="['/rooms', room.name]" class="card-link">show details</a>
                </div>
            </div>
        </div>
    </div>
</div>